<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deep Insight Discovery</title>
</head>
<style>
    * {
        box-sizing: border-box !important;
    }

    .flex_centered{
        display:                flex;
        align-items:            center;
        justify-content:        center;
    }

    body {
        margin: 0;
        padding: 0;

        width: 100%;
        height: 100%;
        background-color: #1f49ff;
    }

    .main {
        width: 100%;
        height: 100vh;
    }

    .deep span {
        font-size: 70px;
        color: #ffffff;
        font-family: "Arial Black", Gadget, sans-serif;
    }
</style>
<body>
    <div class='main flex_centered'>
        <div class='deep'>
            <span>
               <h2>DeepInsightDiscovery</h2>
            </span>
        </div>
    </div>
</body>
</html>
